build/lib.linux-x86_64-3.9/metadr/__init__.py
build/lib.linux-x86_64-3.9/metadr/lighting.py
build/lib.linux-x86_64-3.9/metadr/losses.py
build/lib.linux-x86_64-3.9/metadr/mesh.py
build/lib.linux-x86_64-3.9/metadr/renderer.py
build/lib.linux-x86_64-3.9/metadr/transform.py
build/lib.linux-x86_64-3.9/metadr/cuda/__init__.py
build/lib.linux-x86_64-3.9/metadr/cuda/create_texture_image.cpython-39-x86_64-linux-gnu.so
build/lib.linux-x86_64-3.9/metadr/cuda/generalized_renderer.cpython-39-x86_64-linux-gnu.so
build/lib.linux-x86_64-3.9/metadr/cuda/load_textures.cpython-39-x86_64-linux-gnu.so
build/lib.linux-x86_64-3.9/metadr/cuda/voxelization.cpython-39-x86_64-linux-gnu.so
build/lib.linux-x86_64-3.9/metadr/functional/__init__.py
build/lib.linux-x86_64-3.9/metadr/functional/face_vertices.py
build/lib.linux-x86_64-3.9/metadr/functional/get_points_from_angles.py
build/lib.linux-x86_64-3.9/metadr/functional/lighting.py
build/lib.linux-x86_64-3.9/metadr/functional/load_obj.py
build/lib.linux-x86_64-3.9/metadr/functional/look_at.py
build/lib.linux-x86_64-3.9/metadr/functional/look.py
build/lib.linux-x86_64-3.9/metadr/functional/renderer.py
build/lib.linux-x86_64-3.9/metadr/functional/save_obj.py
build/lib.linux-x86_64-3.9/metadr/functional/vertex_normals.py
build/lib.linux-x86_64-3.9/metadr/functional/voxelization.py
build/lib.linux-x86_64-3.9/metaras/__init__.py
build/lib.linux-x86_64-3.9/metaras/lighting.py
build/lib.linux-x86_64-3.9/metaras/losses.py
build/lib.linux-x86_64-3.9/metaras/mesh.py
build/lib.linux-x86_64-3.9/metaras/renderer.py
build/lib.linux-x86_64-3.9/metaras/transform.py
build/lib.linux-x86_64-3.9/metaras/cuda/__init__.py
build/lib.linux-x86_64-3.9/metaras/cuda/create_texture_image.cpython-39-x86_64-linux-gnu.so
build/lib.linux-x86_64-3.9/metaras/cuda/generalized_renderer.cpython-39-x86_64-linux-gnu.so
build/lib.linux-x86_64-3.9/metaras/cuda/load_textures.cpython-39-x86_64-linux-gnu.so
build/lib.linux-x86_64-3.9/metaras/cuda/voxelization.cpython-39-x86_64-linux-gnu.so
build/lib.linux-x86_64-3.9/metaras/functional/__init__.py
build/lib.linux-x86_64-3.9/metaras/functional/face_vertices.py
build/lib.linux-x86_64-3.9/metaras/functional/get_points_from_angles.py
build/lib.linux-x86_64-3.9/metaras/functional/lighting.py
build/lib.linux-x86_64-3.9/metaras/functional/load_obj.py
build/lib.linux-x86_64-3.9/metaras/functional/look_at.py
build/lib.linux-x86_64-3.9/metaras/functional/look.py
build/lib.linux-x86_64-3.9/metaras/functional/renderer.py
build/lib.linux-x86_64-3.9/metaras/functional/save_obj.py
build/lib.linux-x86_64-3.9/metaras/functional/vertex_normals.py
build/lib.linux-x86_64-3.9/metaras/functional/voxelization.py
build/temp.linux-x86_64-3.9/metadr/cuda/create_texture_image_cuda_kernel.o
build/temp.linux-x86_64-3.9/metadr/cuda/create_texture_image_cuda.o
build/temp.linux-x86_64-3.9/metadr/cuda/generalized_renderer_cuda_kernel.o
build/temp.linux-x86_64-3.9/metadr/cuda/generalized_renderer_cuda.o
build/temp.linux-x86_64-3.9/metadr/cuda/load_textures_cuda_kernel.o
build/temp.linux-x86_64-3.9/metadr/cuda/load_textures_cuda.o
build/temp.linux-x86_64-3.9/metadr/cuda/voxelization_cuda_kernel.o
build/temp.linux-x86_64-3.9/metadr/cuda/voxelization_cuda.o
build/temp.linux-x86_64-3.9/metaras/cuda/create_texture_image_cuda_kernel.o
build/temp.linux-x86_64-3.9/metaras/cuda/create_texture_image_cuda.o
build/temp.linux-x86_64-3.9/metaras/cuda/generalized_renderer_cuda_kernel.o
build/temp.linux-x86_64-3.9/metaras/cuda/generalized_renderer_cuda.o
build/temp.linux-x86_64-3.9/metaras/cuda/load_textures_cuda_kernel.o
build/temp.linux-x86_64-3.9/metaras/cuda/load_textures_cuda.o
build/temp.linux-x86_64-3.9/metaras/cuda/voxelization_cuda_kernel.o
build/temp.linux-x86_64-3.9/metaras/cuda/voxelization_cuda.o
experiments/.ipynb_checkpoints/mlp_pose-checkpoint.ipynb
experiments/.ipynb_checkpoints/mlp_shape_2D-checkpoint.ipynb
metaras.egg-info/dependency_links.txt
metaras.egg-info/PKG-INFO
metaras.egg-info/requires.txt
metaras.egg-info/SOURCES.txt
metaras.egg-info/top_level.txt
Untitled.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
